/* Specific styles for Eurostat Hack */
body {
  font-family:'Trebuchet MS','Lucida Sans Unicode','Lucida Sans',Arial,sans-serif;
  font-size: 16px;
}
h1 {
 font-size: 42px;
}

h2 {
 font-size: 36px;
}

h3 {
 font-size: 24px;
}

.header {
  margin-top: 20px;
  margin-bottom: 40px;
}

p {
 margin-top: 10px;
 margin-bottom: 10px;
}

#query-section {
  margin-top: 40px;
}

#query-form {
 margin-top: 40px;
 margin-bottom: 40px;
}

#results-section {
  margin-top: 40px;
  border: 1px solid black;
}

.sidebar {
  padding:0 20px 0 20px;
}

input {
  padding:5px 0 5px 0;
}